<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.try_01">

    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity


            android:name=".Main2Activity" />
        <activity android:name=".Personal_information" />
        <activity android:name=".Course_list" />
        <activity
            android:name=".Attendance"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Examination_time" />
        <activity android:name=".Mistake" />
        <activity android:name=".Punishment" />
        <activity android:name=".Offer_courses"></activity>
        <activity android:name=".Scoure"></activity>

    </application>

</manifest>